## Last commit: 2026-03-04 03:07:32 UTC by admin
version 25.4R1.12;
system {
    host-name r1;
    root-authentication {
        encrypted-password "$6$CEQ1ixnd$8UvPMDDG2VSFLFAsbuAeuUtm2GCjR.KSKdnFRvgqoC3lOuyDjuf048Zj4x.v5nwdY6agkepYuMv2d3iWc1vrp/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$8Z8j9bk.$UiE6BplRhs7o0UvvnMZqmAn/oYcI9sWaw5/Hjq0J5uCiajfXdccOVvfjWdFNSWS5hr1GuWH3aow.vy5JUcHvy1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.12.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 1.1.1.1/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}