## Last commit: 2026-03-04 03:07:32 UTC by admin
version 25.4R1.12;
system {
    host-name r3;
    root-authentication {
        encrypted-password "$6$D3aNZYrr$aaQP7nIxC7mBS.608WK8FqAXKyCRB62iXGJZMOUZ3HVqbx.LNZK2hBg2Ps9Sbhg63dLExU9UFUz/OSLvBG//91"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$fec4GTE8$3Rc50IwdQRnR3Br9maIeqqBGo2BOLsyFDKKvyQ0igEOSvO36J6Q66UvkF2usChRI404LJbdpJznns9KoXhqCQ0"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.34.3/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 3.3.3.3/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}