## Last commit: 2026-04-25 04:02:26 UTC by admin
version 23.4R2-S2.1;
system {
    host-name leaf1;
    root-authentication {
        encrypted-password "$6$cflqIYyA$QEa8Lp1k09XArFig4cJCnPd.0s2q5Zs6z8FPWHVJ8Pr/kYoCTjOGegu2xPKaR3LQM7d2iCBGDA/0sGVIMq0S60"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$BWU872gk$hwG58V0XK54N/7sZOXpRDirkalwdqCoJkcUSAx3T3EQy/cgeHqKjn/QsfgP4kQjyFBMJ5uyvl5t4R5C3AoQKr1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.12.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 1.1.1.1/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}