## Last commit: 2026-04-25 04:02:26 UTC by admin
version 23.4R2-S2.1;
system {
    host-name leaf2;
    root-authentication {
        encrypted-password "$6$LNfLHl3S$hyh1fNwX3mcZCf1puEPw3ihLPNAopVsi.maguXvbiemnRH0hpdbKu.le26qk1GBRMvTQeJcI9EK3z.1TKz7ka1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$IO24x7WG$2KNZFOsrAIq1lld56Jt4m9fuBEZztFi9ic3gerlIjlO76OrvF7livHjCsg2nIQoCpIBB/jGuF5ciGa0LL49up/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.12.2/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 2.2.2.2/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}