## Last commit: 2026-03-03 02:45:58 UTC by admin
version 25.4R1.12;
system {
    host-name r2;
    root-authentication {
        encrypted-password "$6$SNiI2uYB$b.YJq9S9jkf8vTePe/Pa8iUIz1QlyG3oZA1mYsboXGXWkZf/6MZFav8sSC4PZXI7TvkP8ZO6qID9kco0cumPt/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$5hJIXAkj$6LCToA5.ddoGEeoVeHSarO7vOa/wJWEqS7XV6j0DKNrfgG2BSyQ5vD2PhVDw8iB2WAG3ZarT1z9ByRZ3YW0a81"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.12.2/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.10.24.2/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 2.2.2.2/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}