## Last commit: 2026-03-03 02:45:58 UTC by admin
version 25.4R1.12;
system {
    host-name r4;
    root-authentication {
        encrypted-password "$6$9nQTGk6G$JQw27GEI0BmYVWpyS/zZmmvn0QIVRZcmlLlKKUBWH79sXg2rQlAlwAyZWl7CHTtHQXgGuBvtufYuxYvfkuTT81"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$FKMeIORg$W4xFRm6JLlfMcgbkE61LjF8OSVtcFEtKLhVn.W4ZiUsWrajGgQitsUQPH4f72QTWtzq.YgwiFkK.xbCCMSiJc/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.34.4/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.10.24.4/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 4.4.4.4/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}