## Last commit: 2026-02-17 10:52:59 UTC by admin
version 23.4R2-S2.1;
system {
    host-name r1;
    root-authentication {
        encrypted-password "$6$G0DSClg7$T5A5DR.9xQRtcuDIKniOFMV0mQNwTKCpg5rv00sWkF45iAxQ.Zy2Gos2EB8dvHMHF28vgNa0cSy1ol/mV5rFU1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$SPLYfbk2$B28FUf/VEPJrk.8NciLgxGWNowCXuW7Ospu7PCaKCRK.Ds0UFgVY4zlD/9QGEVGUqJw9ugHdfO371SSTIPk9c/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.12.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}