## Last commit: 2026-02-18 04:49:30 UTC by admin
version 23.4R2-S2.1;
system {
    host-name r2;
    root-authentication {
        encrypted-password "$6$5b7SIhVT$sPgt/JFXXFLImPhpcXXpyaT2rfH0/TUs7CmApySt/l9vXuYmKg2xJJqTq4EHY3C8M9vN9wWNBPXkTZITQ9FX61"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$6CWP8fdH$YxCV71pkei4NxBKVAGT1PMgWPyfAgeo2Ul5qVE3L/yIUCQPLoCUOR2Z1lFMc0wteCI1mtvBhjuN9s4ctuRBLj1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.12.2/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.23.2/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 2.2.2.2/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}