## Last commit: 2026-02-18 04:49:30 UTC by admin
version 23.4R2-S2.1;
system {
    host-name r3;
    root-authentication {
        encrypted-password "$6$gKbn1.9V$RzAi2uQ9CPm2NtWubceyH0T5jQdWc5yzf..DjSO5C8Bc9Aa42GRq7ZaVZMAtfBnzSwU0iQ0Qo/ia3wylVh47i/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$41Abp82Z$eVaujZ633hlbrIyn7rgL2uzsFnRdUMS30tR9PnZhuHgxjAvhdFeFifyfjB5gVwOBpKqw9YO138YDaUIT8yr2X/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.23.3/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 3.3.3.3/32;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}